/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-family: "Segoe UI", Arial, sans-serif;
  /* 1 */
  font-size: 81.25%;
  line-height: 1.84615em;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  line-height: 1.84615em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.92308em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.23077em;
  margin: 1.23077em 0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.57791em;
  margin: 1.57791em 0;
}

h4 {
  font-size: 1em;
  line-height: 1.84615em;
  margin: 1.84615em 0;
}

h5 {
  font-size: 0.83em;
  line-height: 2.22428em;
  margin: 2.22428em 0;
}

h6 {
  font-size: 0.67em;
  line-height: 2.75545em;
  margin: 2.75545em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.84615em 40px;
}

dl,
ol,
ul {
  margin: 1.84615em 0;
}

/**
 * Turn off margins on nested lists.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1.84615em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.84615em 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: "Segoe UI", Arial, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.84615em;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
  /*
   * 1. Set 1 unit of vertical rhythm on the top and bottom margin.
   * 2. Set consistent space for the list style image.
   */
  margin: 1.84615em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
  /**
   * Turn off margins on nested lists.
   */
}
menu menu, ol menu, ul menu {
  margin: 0;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.region-sidebar-first, .main-content, .region-sidebar-second {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  .region-sidebar-first, .region-sidebar-second {
    float: left;
    width: 260px;
  }

  .region-sidebar-second {
    float: right;
  }

  .one-sidebar .main-content, .two-sidebars .main-content {
    float: left;
    width: 100%;
  }

  .sidebar-first .main-content-wrap, .two-sidebars .main-content-wrap {
    margin-left: 280px;
  }

  .sidebar-second .main-content-wrap {
    margin-right: 280px;
  }

  .two-sidebars .region-sidebar-second {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .two-sidebars .region-sidebar-second {
    width: 260px;
  }
  .two-sidebars .main-content-wrap {
    margin-right: 280px;
  }
}
/**
 * Generic Components
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #626262;
  background: #f5f5f5;
}

a {
  color: #337ab7;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover, a:active {
  color: #48b0f7;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  margin-top: 0;
}

ol, ul {
  padding-left: 15px;
}

dt {
  font-weight: 600;
  margin: 10px 0 0;
}
dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 0;
}

.pge-wdt {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.main-content, .region-sidebar-first, .region-sidebar-second {
  background: #fff;
  padding: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mn {
  margin: 0;
}

.mt {
  margin-top: 10px;
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 10px;
}

.ml {
  margin-left: 10px;
}

.mtb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mlr {
  margin-left: 10px;
  margin-right: 10px;
}

.mc {
  margin: 10px;
}

.dmt {
  margin-top: 20px;
}

.dmr {
  margin-right: 20px;
}

.dmb {
  margin-bottom: 20px;
}

.dml {
  margin-left: 20px;
}

.dmlr {
  margin-left: 20px;
  margin-right: 20px;
}

.pn {
  padding: 0;
}

.pt {
  padding-top: 10px;
}

.pr {
  padding-right: 10px;
}

.pb {
  padding-bottom: 10px;
}

.pl {
  padding-left: 10px;
}

.ptb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plr {
  padding-left: 10px;
  padding-right: 10px;
}

.pc {
  padding: 10px;
}

.dpt {
  padding-top: 20px;
}

.dpr {
  padding-right: 20px;
}

.dpb {
  padding-bottom: 20px;
}

.dpl {
  padding-left: 20px;
}

.dplr {
  padding-left: 20px;
  padding-right: 20px;
}

.bt {
  border-top: 1px solid #ccc;
}

.br {
  border-right: 1px solid #ccc;
}

.bb {
  border-bottom: 1px solid #ccc;
}

.bl {
  border-left: 1px solid #ccc;
}

.hd {
  display: none;
}

.sw {
  display: block;
}

.am {
  text-align: center;
}

/**
 * Breadcrumb
*/
.breadcrumb {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.846em;
}

/**
 Tabs
*/
.tabs {
  margin: 0 0 15px;
}
.tabs ul.tabs {
  border-bottom: 1px solid #ccc;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.tabs ul.tabs li {
  padding: 0;
  border: 0;
}
.tabs ul.tabs li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: none;
  border: 0;
  padding: 15px 20px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: rgba(98, 98, 98, 0.7);
  position: relative;
}
.tabs ul.tabs li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 0;
  background: #f55753;
  width: 100%;
  left: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.tabs ul.tabs li.active a:before, .tabs ul.tabs li a:hover:before {
  height: 3px;
  color: #626262;
}
.tabs ul.secondary {
  margin: 10px 0 0;
}
.tabs ul.secondary li a {
  padding: 8px 20px;
  font-size: 11px;
}

div.vertical-tabs {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list li {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 0;
}

/**
 * Admin Listing
*/
.admin-list, .node-type-list {
  border: 1px solid #ccc;
  margin-top: 0;
  background: #fff;
}
.admin-list dt, .admin-list dd, .node-type-list dt, .node-type-list dd {
  margin: 0;
  padding: 0 10px 8px;
}
.admin-list dt, .node-type-list dt {
  padding-top: 8px;
  padding-bottom: 0;
  border-top: 1px solid #ccc;
  font-weight: 600;
}
.admin-list dt:first-child, .node-type-list dt:first-child {
  border-top: 0;
}
.admin-list dt + dt, .node-type-list dt + dt {
  margin-top: 8px;
}

/**
 * Pager
*/
.pager {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  list-style: none outside none;
  text-transform: uppercase;
}
.pager li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/**
 * Action Links
*/
.action-links {
  margin: 0;
  padding: 12px 0;
  list-style: none outside none;
}
.action-links li {
  display: inline;
  margin: 0 3px 0 0;
}

.action-links a, .compact-link a {
  background: #6d5cae;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 0 10px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.title-wrapper h1.title {
  float: left;
  margin-bottom: 10px;
}
.title-wrapper .action-links {
  float: left;
  padding-left: 20px;
}

.ctools-button {
  background: #fff;
}
.ctools-button ul {
  margin: 0;
  padding: 0;
}

ul.links {
  padding-left: 0;
}
ul.links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style: none outside none;
}

/**
 * Overlay
*/
#overlay-titlebar {
  padding-left: 0;
}

#overlay-title {
  line-height: 1.231;
}

#overlay .page {
  padding: 10px 0;
}
#overlay #header, #overlay #footer {
  display: none;
}
#overlay #main, #overlay .main-content {
  padding: 0;
  margin: 0;
}

/**
 * Blocks
*/
.block > h2, .block .block-title {
  margin-top: 0;
}

@media only screen and (min-width: 480px) {
  .sm-hd {
    display: none;
  }

  .sm-sw {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .md-hd {
    display: none;
  }

  .md-sw {
    display: block;
  }

  .pge-wdt {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-content, .region-sidebar-first, .region-sidebar-second {
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .lg-hd {
    display: none;
  }

  .lg-sw {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .xl-hd {
    display: none;
  }

  .xl-sw {
    display: block;
  }
}
.table-wrapper {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  margin: 5px 0 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table thead tr th {
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  padding: 10px 8px;
  color: rgba(44, 44, 44, 0.35);
  text-align: left;
}
table thead tr th a {
  color: rgba(44, 44, 44, 0.35);
}
table thead tr th.active a, table thead tr th a:active {
  color: #2c2c2c;
}
table thead tr th img {
  margin-left: 10px;
}
table tbody tr td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 12px 8px;
  background: #fff;
}
table tbody tr td .form-item {
  margin-bottom: 0;
}
table tbody tr.odd td {
  background: #f0f0f0;
}
table tbody tr:hover td {
  background: #daeffd;
}

table.sticky-header {
  z-index: 2;
}

a.tabledrag-handle .handle {
  height: 20px;
  width: 20px;
  background-position: 0 5px;
}

a.tabledrag-handle-hover .handle {
  background-position: 0 -15px;
}

.tabledrag-toggle-weight-wrapper {
  float: right;
  font-size: 11px;
  margin-bottom: -30px;
  height: 20px;
  padding: 5px;
}
.tabledrag-toggle-weight-wrapper a {
  display: block;
  height: 16px;
  width: 16px;
  padding: 2px;
  color: transparent;
  background: #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
.tabledrag-toggle-weight-wrapper a:before {
  content: '\f047';
  font: normal normal normal 14px/12px FontAwesome;
  color: #fff;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  position: absolute;
  left: 2px;
  top: 2px;
}

.draggable a.tabledrag-handle {
  margin: 0 -.5em 0 0;
}

.form-type-checkbox, .form-type-radio {
  position: relative;
}
.form-type-checkbox input + label, .form-type-radio input + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
.form-type-checkbox input + label:before, .form-type-radio input + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-property: border;
  -o-transition-property: border;
  -webkit-transition-property: border;
  transition-property: border;
}
.form-type-checkbox input + label:after, .form-type-radio input + label:after {
  display: inline-block;
  position: absolute;
}
.form-type-checkbox > input[type="checkbox"]:checked + label:before, .form-type-checkbox > input[type="radio"]:checked + label:before, .form-type-radio > input[type="checkbox"]:checked + label:before, .form-type-radio > input[type="radio"]:checked + label:before {
  background-color: #8a7dbe;
  border-color: #8a7dbe;
}

.form-type-checkbox input + label:after {
  width: 16px;
  height: 16px;
  left: 1px;
  top: 0;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #fff;
}
.form-type-checkbox > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
.form-type-checkbox > input[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.form-type-checkbox > input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.form-type-checkbox > input[type="checkbox"]:disabled + label:before {
  cursor: not-allowed;
}

.form-type-radio input + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form-type-radio input + label:after {
  content: " ";
  width: 11px;
  height: 11px;
  left: 4px;
  top: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.form-type-radio > input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
.form-type-radio > input[type="radio"]:checked + label:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.form-type-radio > input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.form-type-radio > input[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}

.form-type-checkbox > input[type="checkbox"]:last-child, .form-type-radio > input[type="radio"]:last-child, .form-type-checkbox label + input[type="checkbox"], .form-type-radio label + input[type="radio"] {
  opacity: 1;
  position: static;
}

/**
 * Form Fields
*/
input[type="text"], input.form-text, select, textarea {
  border: 1px solid #ccc;
  background: #fff;
  color: #2c2c2c;
  height: 35px;
  padding: 6px 12px;
  font-size: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
  vertical-align: middle;
}
input[type="text"]:focus, input.form-text:focus, select:focus, textarea:focus {
  border-color: rgba(0, 0, 0, 0.1);
  outline: 0 !important;
  background: #f0f0f0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea, select[multiple="multiple"] {
  height: auto;
  padding: 5px;
}

button, .form-submit, .button, input[type="button"] {
  background: #6d5cae;
  border: 1px solid #6d5cae;
  -moz-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -o-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, opacity 0.2s !important;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  color: #f5f5f5;
  min-width: 120px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 35px;
}
button:hover, .form-submit:hover, .button:hover, input[type="button"]:hover {
  background-color: #8a7dbe;
  border-color: #8a7dbe;
}

a.button {
  color: #f5f5f5;
}

fieldset {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 20px;
  padding: 35px 20px 20px;
  position: relative;
}
fieldset legend {
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1;
}
fieldset .fieldset-wrapper {
  padding: 15px 0;
}

.form-item {
  margin: 0 0 20px;
  position: relative;
}
.form-item .description {
  position: absolute;
  width: 260px;
  padding: 10px;
  border: 1px solid #6d5cae;
  background: #8a7dbe;
  color: #fff;
  right: 0px;
  bottom: 100%;
  display: none;
  margin-bottom: -10px;
  z-index: 3;
}
.form-item .description:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #8a7dbe;
  position: absolute;
  top: 100%;
  left: 20px;
}
.form-item:hover > .description {
  display: block;
}

.container-inline-date .form-item .description {
  width: 150px;
}

.description {
  font-size: 0.846em;
  line-height: 1.5;
  margin-top: 5px;
}

.form-item label.option {
  text-transform: none;
  font-weight: 400;
}

.form-type-radios .form-type-radio, .form-type-checkboxes .form-type-checkbox {
  margin-bottom: 8px;
}

input.fluid {
  width: 100%;
}

html.js fieldset.collapsed {
  border-width: 1px;
}

.tips {
  padding-left: 15px;
}

.filter-guidelines-item > h3:first-child {
  margin-bottom: 5px;
}

.views-exposed-form label, .form-item label {
  font-size: 11px;
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 10px 0 0;
  display: block;
}

/**
 * Views Exposed Filters
*/
.exposed-filters .form-item label {
  margin-top: 6px;
}

.views-exposed-widgets {
  margin: 0 0 20px;
}

.views-exposed-form .views-submit-button {
  clear: both;
}

.views-exposed-form .views-exposed-widget input.form-submit {
  margin: 5px 10px 5px 0;
}

.container-inline label, .container-inline-date label {
  display: inline;
}

/**
 * CTools Filters
 */
.ctools-export-ui-row .form-item label {
  display: block;
}

#ctools-export-ui-list-form .form-submit:first-of-type {
  clear: both;
}

/**
 * AutoComplete
*/
div .autocomplete-deluxe-item {
  background: #48b0f7;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  border: 0;
  padding: 6px 20px 6px 9px;
  min-height: 25px;
}

div .autocomplete-deluxe-item .autocomplete-deluxe-item-delete {
  background: none;
  top: 7px;
}
div .autocomplete-deluxe-item .autocomplete-deluxe-item-delete:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 11px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: '\f00d';
  color: #fff;
}

ul.autocomplete-deluxe-multiple {
  border: 1px solid #ccc;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
ul.autocomplete-deluxe-multiple input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  background: none;
  min-width: 200px;
  padding: 0 5px;
  clear: none;
}

ul.ui-autocomplete {
  font-size: 11px;
}

#autocomplete {
  border-color: #ccc;
}
#autocomplete ul li {
  padding: 2px 5px;
  cursor: pointer;
}
#autocomplete ul li:hover {
  color: #fff;
  background: #48b0f7;
}

/**
 * Date Field
*/
.container-inline-date {
  display: inline;
}
.container-inline-date .date-padding {
  float: none;
  display: inline-block;
  padding: 0;
}
.container-inline-date .date-padding label {
  display: block;
}
.container-inline-date .form-item .form-item {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/**
 * CK Editor Appearance
*/
.filter-wrapper {
  margin: 0 0 20px;
}

.cke_browser_webkit {
  overflow: auto;
}

.field-formatter-settings-edit {
  height: 30px;
  min-width: 0;
}

.form-textarea-wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.cke_dialog_body * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div.cke_skin_kama .cke_dialog_contents {
  margin-top: 32px;
}

span.cke_skin_kama {
  min-width: 100%;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cke_skin_kama table tbody tr:hover td {
  background: transparent;
}

/**
 * Star Rating
*/
div.fivestar-widget .star, div.fivestar-widget .star a {
  background: none;
  text-indent: 0;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: top;
}
div.fivestar-widget .star a {
  color: transparent;
  font-size: 0;
}
div.fivestar-widget .star a:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: top;
  content: '\f005';
  color: #bdb7d8;
  height: 16px;
  width: 16px;
}
div.fivestar-widget .star.on a:before, div.fivestar-widget .star.hover a:before {
  color: #6d5cae;
}

/**
 * Date picker
*/
#ui-datepicker-div {
  padding: 16px 25px;
  -moz-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 200px;
  width: auto;
}

.ui-datepicker .ui-datepicker-header {
  background: none;
  border: 0;
  margin: 0 0 10px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  left: 0;
  top: 3px;
  background: none;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 28px;
}
.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before {
  content: '\f104';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: top;
  color: #6d5cae;
  height: 16px;
  margin: 5px 6px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-next {
  left: auto;
  right: 0;
}
.ui-datepicker .ui-datepicker-next:before {
  content: '\f105';
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 25px;
}
.ui-datepicker .ui-datepicker-title select {
  padding: 4px;
  height: auto;
  min-height: 0;
  margin: 0;
}
.ui-datepicker .ui-datepicker-calendar {
  border: 0;
}
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
  border: 0;
  font-size: 11px;
  padding: 0;
  background: none;
}
.ui-datepicker .ui-datepicker-calendar th {
  color: #6d5cae;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  border: 0;
  background: none;
  padding: 0;
  width: 26px;
  margin: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #ccc;
}

/**
 * UI Progress Bar
 */
#plup-bar {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.ui-widget-content.ui-progressbar {
  padding: 0;
}
.ui-widget-content.ui-progressbar .ui-progressbar-value {
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #6d5cae;
  border: 0;
}

/**
 * Inline Form
*/
.container-inline input.fluid, div.image-style-new input.fluid {
  width: auto;
}
.container-inline div.form-item.form-type-select, div.image-style-new div.form-item.form-type-select {
  display: inline;
}
.container-inline div.form-item.form-type-select .chzn-container, div.image-style-new div.form-item.form-type-select .chzn-container {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 0;
  margin-top: 0;
}

/**
 * Module Filter
*/
html.js .module-filter-inputs-wrapper label.option {
  display: inline-block;
}

/**
 * Dependent dropdown
*/
.dependent-options {
  overflow: visible !important;
}

#header {
  position: fixed;
  height: 64px;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 3;
}

#site-name {
  color: #8a7dbe;
  font-size: 2em;
  line-height: 1.84615em;
}

#main {
  padding-top: 80px;
}

#header .block-search {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
}

.search-link {
  color: #626262;
}

.head-ico {
  font-size: 2em;
  margin-top: 17px;
  cursor: pointer;
}

.logo-wrp {
  margin-left: 50px;
  margin-right: 50px;
}

.logo-img {
  float: left;
  width: 100%;
}

#logo {
  margin: 5px auto 0;
  max-width: 190px;
  display: block;
}

.search-bar-lg {
  font-size: 1.231em;
}

@media only screen and (min-width: 1024px) {
  .logo-wrp {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-img {
    width: auto;
  }
}
div.sch-blk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: none;
}
div.sch-blk .fa {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  right: 15px;
  top: 15px;
}
div.sch-blk .content {
  padding: 50px 20px;
}
div.sch-blk .form-submit, div.sch-blk label {
  display: none;
}
div.sch-blk .views-exposed-widget {
  float: none;
  padding: 0;
}
div.sch-blk input.form-text {
  background: none;
  height: auto;
  padding: 0;
  color: #fff;
  border: 0;
  border-bottom: 1px dotted #6d5cae;
  padding: 8px 0;
  font-size: 1.5em;
  line-height: 1.231;
  width: 100%;
}

.sch-act .page {
  z-index: 5;
  position: relative;
}
.sch-act .sch-blk {
  display: block;
}

.sch-dis .search-bar {
  display: none;
}

.search-advanced {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .sch-blk input.form-text {
    font-size: 2em;
  }
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-weight: 600;
  font-size: 1.077em;
  margin: 12px 0 0;
}
.nav li {
  display: inline-block;
  padding: 0 2px;
}
.nav li a {
  display: block;
  padding: 8px;
}

.media-list-thumbnails li {
  position: relative;
}
.media-list-thumbnails li .form-type-checkbox {
  position: absolute;
  left: 5px;
  top: 5px;
}
