@media only screen and (min-width: 1024px) {
  .region-sidebar-first, .region-sidebar-second {
    float: right;
  }

  .region-sidebar-second {
    float: left;
  }

  .one-sidebar .main-content, .two-sidebars .main-content {
    float: right;
  }

  .sidebar-first .main-content-wrap, .two-sidebars .main-content-wrap {
    margin-right: 280px;
    margin-left: 0;
  }

  .sidebar-second .main-content-wrap {
    margin-left: 280px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .two-sidebars .region-sidebar-second {
    width: 260px;
  }
  .two-sidebars .main-content-wrap {
    margin-left: 280px;
    margin-right: 280px;
  }
}
body {
  direction: rtl;
}

/**
 * Generic Components
*/
.rtl-fl {
  float: left;
}

.rtl-fr {
  float: right;
}

.rtl-mrn {
  margin-right: 0;
}

.rtl-mr {
  margin-right: 10px;
}

.rtl-mln {
  margin-left: 0;
}

.rtl-ml {
  margin-left: 10px;
}

.rtl-dmr {
  margin-right: 20px;
}

.rtl-dml {
  margin-left: 20px;
}

.rtl-prn {
  padding-right: 0;
}

.rtl-pr {
  padding-right: 10px;
}

.rtl-pln {
  padding-left: 0;
}

.rtl-pl {
  padding-left: 10px;
}

.rtl-dpr {
  padding-right: 20px;
}

.rtl-dpl {
  padding-left: 20px;
}

.rtl-brn {
  border-right: 0pt none;
}

.rtl-br {
  border-right: 1px solid #ccc;
}

.rtl-bln {
  border-left: 0pt none;
}

.rtl-bl {
  border-left: 1px solid #ccc;
}

.title-wrapper h1.title {
  float: right;
}
.title-wrapper .action-links {
  float: right;
  padding-right: 20px;
  padding-left: 0;
}

table thead tr th {
  text-align: right;
}

.tabledrag-toggle-weight-wrapper {
  float: left;
}

.form-type-checkbox input + label, .form-type-radio input + label {
  padding-right: 25px;
  padding-left: 0;
}
.form-type-checkbox input + label:before, .form-type-radio input + label:before {
  right: 0;
  left: auto;
}

.form-type-checkbox input + label:after {
  right: 3px;
  left: auto;
}

.form-type-radio input + label:after {
  right: 4px;
  left: auto;
}

/**
 * Form Fields
*/
.views-exposed-form label, .form-item label {
  margin-right: 0;
  margin-left: 8px;
}

fieldset legend {
  left: auto;
  right: 20px;
}

html.js fieldset.collapsed .fieldset-legend {
  background: none;
}

html.js fieldset.collapsible .fieldset-legend {
  padding-right: 0;
}

.views-exposed-form .views-exposed-widget {
  padding-right: 0;
  padding-left: 1em;
}

.form-item .description {
  right: auto;
  left: 0;
}
.form-item .description:after {
  right: 20px;
  left: auto;
}

div .autocomplete-deluxe-item, input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

.views-exposed-form .views-exposed-widget input.form-submit {
  margin-left: 10px;
  margin-right: 0;
}

.admin-views-view .form-item-operation {
  float: right;
}

button, .form-submit, .button, input[type="button"] {
  margin-left: 5px;
  margin-right: auto;
}

/**
 * UI Date picker
*/
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 0;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:before {
  content: '\f105';
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 0;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:before {
  content: '\f104';
}

.logo-img {
  float: right;
}

div.sch-blk .fa {
  left: 15px;
  right: auto;
}
