body {
	direction: rtl;
}

/**
 * Generic Components
*/
.rtl-fl {
	float: left;
}
.rtl-fr {
	float: right;
}
.rtl-mrn {
	margin-right: 0;
}
.rtl-mr {
	margin-right: 10px;
}
.rtl-mln {
	margin-left: 0;
}
.rtl-ml {
	margin-left: 10px;
}
.rtl-dmr {
	margin-right: 20px;
}
.rtl-dml {
	margin-left: 20px;
}
.rtl-prn {
	padding-right: 0;
}
.rtl-pr {
	padding-right: 10px;
}
.rtl-pln {
	padding-left: 0;
}
.rtl-pl {
	padding-left: 10px;
}
.rtl-dpr {
	padding-right: 20px;
}
.rtl-dpl {
	padding-left: 20px;
}
.rtl-brn {
	border-right: 0pt none;
}
.rtl-br {
	border-right: 1px solid $sep-color;
}
.rtl-bln {
	border-left: 0pt none;
}
.rtl-bl {
	border-left: 1px solid $sep-color;
}

.title-wrapper {
	h1.title {
		float: right;
	}
	.action-links {
		float: right;
		padding-right: 20px;
		padding-left: 0;
	}
}
