// Fonts import from google
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * Generic Components
*/
* {
	@include box-sizing(border-box);
}
body {
	color: $base_color;
	background: $site_bg;
}
a {
	color: $link_color;
	transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important;
	text-decoration: none;
	outline: 0;
}
a:focus, a:hover, a:active {
	color: $link_h_color;
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1 {
	margin-top: 0;
}
ol, ul {
	padding-left: 15px;
}
dt {
	font-weight: 600;
	margin: 10px 0 0;
	&:first-child {
		margin-top: 0;
	}
}
dd {
	margin-left: 0;
}
.pge-wdt {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1700px;
	margin-left: auto;
	margin-right: auto;
}
.main-content, .region-sidebar-first, .region-sidebar-second {
	background: $sec_bg;
	padding: 10px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mn {
	margin: 0;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.mb {
	margin-bottom: 10px;
}
.ml {
	margin-left: 10px;
}
.mtb {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mlr {
	margin-left: 10px;
	margin-right: 10px;
}
.mc {
	margin: 10px;
}
.dmt {
	margin-top: 20px;
}
.dmr {
	margin-right: 20px;
}
.dmb {
	margin-bottom: 20px;
}
.dml {
	margin-left: 20px;
}
.dmlr {
	margin-left: 20px;
	margin-right: 20px;
}
.pn {
	padding: 0;
}
.pt {
	padding-top: 10px;
}
.pr {
	padding-right: 10px;
}
.pb {
	padding-bottom: 10px;
}
.pl {
	padding-left: 10px;
}
.ptb {
	padding-top: 10px;
	padding-bottom: 10px;
}
.plr {
	padding-left: 10px;
	padding-right: 10px;
}
.pc {
	padding: 10px;
}
.dpt {
	padding-top: 20px;
}
.dpr {
	padding-right: 20px;
}
.dpb {
	padding-bottom: 20px;
}
.dpl {
	padding-left: 20px;
}
.dplr {
	padding-left: 20px;
	padding-right: 20px;
}
.bt {
	border-top: 1px solid $sep-color;
}
.br {
	border-right: 1px solid $sep-color;
}
.bb {
	border-bottom: 1px solid $sep-color;
}
.bl {
	border-left: 1px solid $sep-color;
}
.hd {
	display: none;
}
.sw {
	display: block;
}
.am {
	text-align: center;
}

/**
 * Breadcrumb
*/
.breadcrumb {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.846em;
}


/**
 Tabs
*/
.tabs {
	margin: 0 0 15px;
	ul.tabs {
		border-bottom: 1px solid $sep-color;
		white-space: normal;
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			border: 0;
			a {
				@include inline-block;
				background: none;
				border: 0;
				padding: 15px 20px;
				margin: 0;
				text-transform: uppercase;
				font-family: 'Montserrat';
				color: rgba(98,98,98,0.7);
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					height: 0;
					background: $tabs_act;
					width: 100%;
					left: 0;
					@include transition-property(all);
					@include transition-timing-function(linear);
					@include transition-duration(0.1s);
				}
			}
			&.active a:before, a:hover:before {
				height: 3px;
				color: $taba_act_clr;
			}
		}
	}
	ul.secondary {
		margin: 10px 0 0;
		li a {
			padding: 8px 20px;
			font-size: 11px;
		}
	}
}
div.vertical-tabs {
	border-color: $sep-color;
	ul.vertical-tabs-list {
		border-color: $sep-color;
		li {
			border-color: $sep-color;
			a:hover {
				outline: 0;
			}
		}
	}
}

/**
 * Admin Listing
*/
.admin-list, .node-type-list {
	border: 1px solid $sep-color;
	margin-top: 0;
	background: $sec_bg;
	dt, dd {
		margin: 0;
		padding: 0 10px 8px;
	}
	dt {
		padding-top: 8px;
		padding-bottom: 0;	
		border-top: 1px solid $sep-color;
		font-weight: 600;
		&:first-child {
			border-top: 0;
		}
		& + dt {
			margin-top: 8px;
		}
	}
}

/**
 * Pager
*/
.pager {
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
	list-style: none outside none;
	text-transform: uppercase;
	li {
		@include inline-block;
	}
}


/**
 * Action Links
*/
.action-links {
	margin: 0;
	padding: 12px 0;
	list-style: none outside none;
	li {
		display: inline;
		margin: 0 3px 0 0;
	}	
}
.action-links, .compact-link {
	a {
		background: $btn_clr;
	  color: $sec_bg;
	  font-size: 11px;
	  font-weight: 600;
	  padding: 0 10px;
	  display: inline-block;
	  @include border-radius(2px);
	}
}
.title-wrapper {
	h1.title {
		float: left;
		margin-bottom: 10px;
	}
	.action-links {
		float: left;
		padding-left: 20px;
	}
}
.ctools-button {
	background: $sec_bg;
	ul {
		margin: 0;
		padding: 0;
	}
}
ul.links {
	padding-left: 0;
	li {
		@include inline-block;
		list-style: none outside none;
	}
}

/**
 * Overlay
*/
#overlay-titlebar {
	padding-left: 0;
}
#overlay-title {
	line-height: 1.231;
}	
#overlay {
	.page {
		padding: 10px 0;
	}
	#header, #footer {
		display: none;
	}
	#main, .main-content {
		padding: 0;
		margin: 0;
	}
}

/**
 * Blocks
*/
.block {
	& > h2, .block-title {
		margin-top: 0;
	}
}

@media only screen and (min-width: 480px) {
	.sm-hd {
		display: none;
	}
	.sm-sw {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.md-hd {
		display: none;
	}
	.md-sw {
		display: block;
	}
	.pge-wdt {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content, .region-sidebar-first, .region-sidebar-second {
		padding: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.lg-hd {
		display: none;
	}
	.lg-sw {
		display: block;
	}
}

@media only screen and (min-width: 1200px) {
	.xl-hd {
		display: none;
	}
	.xl-sw {
		display: block;
	}
}

