.form-type-checkbox, .form-type-radio {
  input + label {
    padding-right: 25px;
    padding-left: 0;
    &:before {
      right: 0;
      left: auto;
    }
  }
}
.form-type-checkbox {
  input + label {
    &:after {
      right: 3px;
      left: auto;
    }
  }
}   
.form-type-radio {
  input + label {
    &:after {
      right: 4px;
      left: auto;
    }
  }
}
