/**
 * Form Fields
*/
.views-exposed-form label, .form-item label {
	margin-right: 0;
	margin-left: 8px;
}
fieldset {
	legend {
		left: auto;
		right: 20px;
	}
}
html.js fieldset.collapsed .fieldset-legend {
	background: none;
}
html.js fieldset.collapsible .fieldset-legend {
	padding-right: 0;
}

.views-exposed-form .views-exposed-widget {
	padding-right: 0;
	padding-left: 1em;
}
.form-item .description {
	right: auto;
	left: 0;
	&:after {
		right: 20px;
		left: auto;
	}
}
div .autocomplete-deluxe-item, input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
.views-exposed-form .views-exposed-widget input.form-submit {
	margin-left: 10px;
	margin-right: 0;
}
.admin-views-view .form-item-operation {
	float: right;
}

button, .form-submit, .button, input[type="button"] {
	margin-left: 5px;
	margin-right: auto;
}

/**
 * UI Date picker
*/
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 0;
	left: auto;
	&:before {
		content: '\f105';
	}
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 0;
	right: auto;
	&:before {
		content: '\f104';
	}
}
	
