/**
 * Form Fields
*/
input[type="text"], input.form-text, select, textarea {
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	color: $inpt_clr;
	height: 35px;
	padding: 6px 12px;
	font-size: 100%;
	@include border-radius(2px);
	max-width: 100%;
	vertical-align: middle;
	&:focus {
		border-color: rgba(0,0,0,0.1);
		outline: 0 !important;
		background: $inpt_h_bg;
		@include box-shadow(none);
	}
}
textarea, select[multiple="multiple"] {
	height: auto;
	padding: 5px;
}
button, .form-submit, .button, input[type="button"] {
	background: $btn_clr;
	border: 1px solid $btn_clr;
	@include transition(color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important);
	color: $btn_f_clr;
	min-width: 120px;
	margin-right: 5px;
	@include inline-block;
	padding: 6px 12px;
	white-space: nowrap;
	cursor: pointer;
	@include user-select(none);
	@include border-radius(4px);
	height: 35px;
	&:hover {
		background-color: $btn_h_clr;
		border-color: $btn_h_clr;
	}
}
a.button {
	color: $btn_f_clr;
}
fieldset {
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	margin: 0 0 20px;
	padding: 35px 20px 20px;
	position: relative;
	legend {
		font-family: $fnt_montserrat;
		font-weight: 600;
		text-transform: uppercase;
		position: absolute;
		top: 15px;
		left: 20px;
		z-index: 1;
	}
	.fieldset-wrapper {
		padding: 15px 0;
	}
}
.form-item {
	margin: 0 0 20px;
	position: relative;
	.description {
		position: absolute;
		width: 260px;
		padding: 10px;
		border: 1px solid $desc_sep;
		background: $desc_bg;
		color: $inpt_bg;
		right: 0px;
		bottom: 100%;
		display: none;
		margin-bottom: -10px;
		z-index: 3;
		&:after {
			content: '';
			display: block;
			height: 0;
			width: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $desc_bg;
			position: absolute;
			top: 100%;
			left: 20px;
		}
	}
	&:hover > .description {
		display: block;
	}
}
.container-inline-date .form-item .description {
	width: 150px;
}
.description {
	font-size: 0.846em;
	line-height: 1.5;
	margin-top: 5px;
}
.form-item label.option {
	text-transform: none;
	font-weight: 400;
}
.form-type-radios .form-type-radio, .form-type-checkboxes .form-type-checkbox {
	margin-bottom: 8px;
}
input.fluid {
	width: 100%;
}
html.js fieldset.collapsed {
	border-width: 1px;
}
.tips {
	padding-left: 15px;
}
.filter-guidelines-item > h3:first-child {
	margin-bottom: 5px;
}
.views-exposed-form label, .form-item label {
	font-size: 11px;
	font-family: $fnt_montserrat;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
	margin: 0 10px 0 0;
	display: block;
}

/**
 * Views Exposed Filters
*/
.exposed-filters .form-item label {
	margin-top: 6px;	
}
.views-exposed-widgets {
	margin: 0 0 20px;
}
.views-exposed-form .views-submit-button {
	clear: both;
}
.views-exposed-form .views-exposed-widget input.form-submit {
	margin: 5px 10px 5px 0;
}
.container-inline, .container-inline-date {
	label {
		display: inline;
	}
}

/**
 * CTools Filters
 */
.ctools-export-ui-row .form-item label {
	display: block;
}
#ctools-export-ui-list-form .form-submit:first-of-type {
	clear: both;
}

/**
 * AutoComplete
*/
div .autocomplete-deluxe-item {
	background: $sel_itm;
	font-size: 11px;
	font-weight: 600;
	color: $inpt_bg;
	border: 0;
	padding: 6px 20px 6px 9px;
	min-height: 25px;
}
div .autocomplete-deluxe-item .autocomplete-deluxe-item-delete {
	background: none;
	top: 7px;
	&:before {
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 11px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		content: '\f00d';
		color: $inpt_bg;
	}
}
ul.autocomplete-deluxe-multiple {
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	@include border-radius(2px);
	input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
		background: none;
		min-width: 200px;
		padding: 0 5px;
		clear: none;
	}
}
ul.ui-autocomplete {
	font-size: 11px;
}
#autocomplete {
	border-color: $inpt_sep;
	ul li {
		padding: 2px 5px;
		cursor: pointer;
		&:hover {
			color: $inpt_bg;
			background: $sel_itm;
		}
	}
}

/**
 * Date Field
*/
.container-inline-date {
	display: inline;
	.date-padding {
		float: none;
		display: inline-block;
		padding: 0;
		label {
			display: block
		}
	}
	.form-item .form-item {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
}

/**
 * CK Editor Appearance
*/
.filter-wrapper {
	margin: 0 0 20px;
}
.cke_browser_webkit {
	overflow: auto;
}
.field-formatter-settings-edit {
	height: 30px;
	min-width: 0;
}
.form-textarea-wrapper * {
	@include box-sizing(content-box);
}
.cke_dialog_body * {
	@include box-sizing(content-box);
}
div.cke_skin_kama .cke_dialog_contents {
	margin-top: 32px;
}
span.cke_skin_kama {
	min-width: 100%;
	max-width: 100%;
	@include box-sizing(border-box);
}
.cke_skin_kama table tbody tr:hover td {
	background: transparent;
}

/**
 * Star Rating
*/
div.fivestar-widget {
	.star, .star a {
		background: none;
		text-indent: 0;
		height: 16px;
		width: 16px;
		display: inline-block;
		vertical-align: top;
	}
	.star {
		a {
			color: transparent;
			font-size: 0;
			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 16px;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				display: inline-block;
				vertical-align: top;
				content: '\f005';
				color: $star_clr;
				height: 16px;
				width: 16px;
			}
		}
		&.on, &.hover {
			a:before {
				color: $btn_clr;
			}
		}
	}
}

/**
 * Date picker
*/
#ui-datepicker-div {
	padding: 16px 25px;
	@include box-shadow(0px 0px 5px rgba(98,98,98,0.2));
	border: 1px solid rgba(0,0,0,0.2);
	background: $inpt_bg;
	min-width: 200px;
	width: auto;
}
.ui-datepicker {
	.ui-datepicker-header {
		background: none;
		border: 0;
		margin: 0 0 10px;
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		left: 0;
		top: 3px;
		background: none;
		border: 0;
		cursor: pointer;
		width: 20px;
		height: 28px;
		&:before {
			content: '\f104';
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 16px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			vertical-align: top;
			color: $btn_clr;
			height: 16px;
			margin: 5px 6px;
		}
		span {
			display: none;
		}
	}
	.ui-datepicker-next {
		left: auto;
		right: 0;
		&:before {
			content: '\f105';
		}
	}
	.ui-datepicker-title {
		margin: 0 25px;
		select {
			padding: 4px;
			height: auto;
			min-height: 0;
			margin: 0;
		}
	}
	.ui-datepicker-calendar {
		border: 0;
		th, td {
			border: 0;
			font-size: 11px;
			padding: 0;
			background: none;
		}
		th {
			color: $btn_clr;
		}
		.ui-state-default {
			border: 0;
			background: none;
			padding: 0;
			width: 26px;
			margin: 1px;
			@include border-radius(2px);
			text-align: center;
			&:hover {
				background: $inpt_sep;
			}
		}
	}
}

/**
 * UI Progress Bar
 */
#plup-bar {
	@include box-sizing(content-box);
}
.ui-widget-content.ui-progressbar {
	padding: 0;
	.ui-progressbar-value {
		margin: 0;
		@include border-radius(0);
		background-color: $btn_clr;
		border: 0;
	}
}

/**
 * Inline Form
*/
.container-inline, div.image-style-new {
	input.fluid {
		width: auto;
	}
	div.form-item.form-type-select {
		display: inline;
		.chzn-container {
			@include inline-block;
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

/**
 * Module Filter
*/
html.js .module-filter-inputs-wrapper label.option {
	display: inline-block;
}
 
/**
 * Dependent dropdown
*/
.dependent-options {
	overflow: visible !important;
}

