#header {
	position: fixed;
	height: 64px;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 1px solid $sep_color;
	background: $sec_bg;
	z-index: 3;
}
#site-name {
	color: $link_sech_color;
	@include normalize-font-size($h1-font-size);
	@if $normalize-vertical-rhythm {
		@include normalize-line-height($h1-font-size);
	}
}
#main {
	padding-top: 80px;
}
#header .block-search {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: -100%;
}
.search-link {
	color: $base_color;
}
.head-ico {
	font-size: 2em;
	margin-top: 17px;
	cursor: pointer;
}
.logo-wrp {
	margin-left: 50px;
	margin-right: 50px;
}
.logo-img {
	float: left;
	width: 100%;
}
#logo {
	margin: 5px auto 0;
	max-width: 190px;
	display: block;
}
.search-bar-lg {
	font-size: 1.231em;
}

@media only screen and (min-width: 1024px) {
	.logo-wrp {
		margin-left: 0;
		margin-right: 0;
	}
	.logo-img {
		width: auto;
	}
}

