.nav {
	margin: 0;
	padding: 0;
	list-style: none outside none;
	font-weight: 600;
	font-size: 1.077em;
	margin: 12px 0 0;
	li {
		display: inline-block;
		padding: 0 2px;
		a {
			display: block;
			padding: 8px;
		}
	}
}

