div.sch-blk {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0, 0, 0, .8);
	z-index: 4;
	display: none;
	.fa {
		position: absolute;
		cursor: pointer;
		font-size: 24px;
		color: $sec_bg;
		right: 15px;
		top: 15px;
	}
	.content {
		padding: 50px 20px;
	}
	.form-submit, label {
		display: none;
	}
	.views-exposed-widget {
		float: none;
		padding: 0;
	}
	input.form-text {
		background: none;
		height: auto;
		padding: 0;
		color: $inpt_bg;
		border: 0;
		border-bottom: 1px dotted $btn_clr;
		padding: 8px 0;
		font-size: 1.5em;
		line-height: 1.231;
		width: 100%;
	}
}

.sch-act {
	.page {
		z-index: 5;
		position: relative;
	}
	.sch-blk {
		display: block;
	}
}
.sch-dis {
	.search-bar {
		display: none;
	}
}
.search-advanced {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.sch-blk input.form-text {
		font-size: 2em;
	}
}

