@import "compass/css3";

@import "init";

.page-wrap {
  @include transition-property(transform);
	@include transition-duration(400ms);
	@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
}
#admin-menu {
	position: fixed;
	left: -250px;
	top: 0;
	bottom: 0;
	width: 250px;
	overflow: hidden;
	z-index: 4;
	background: $nav_bg url(../../logo-invert.png) no-repeat 25px 10px;
	padding: 64px 0 0;
	-webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  @include transition-property(left);
	@include transition-duration(400ms);
	@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
}
#admin-menu-wrapper {
	overflow: hidden;
	height: 100%;
	position: relative;
	padding: 20px 0 40px;
	border-top: 1px solid $nav_sep_clr;
	background: $nav_in_bg;
	width: 250px;
	.dropdown {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			list-style: none outside none;
			a, span {
				padding: 2px 20px 2px 30px;
				margin: 0 0 6px;
				display: block;
				line-height: 18px;
				color: $nav_clr;
				position: relative;
				cursor: pointer;
				&:hover, &:hover:before {
					color: $nav_h_clr;
				}
			}
		}
		.dropdown {
			background: $nav_d_dwn;
			padding: 12px 0;
			margin: 0 0 6px;
			display: none;
		}
		.admin-menu-ico > a {
			font-size: 14px;
			padding: 11px 90px 11px 30px;
			&:before {
				content: "\f015";
				display: block;
				font: normal normal normal 14px/40px FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				right: 20px;
				top: 0;
				color: $nav_clr;
				background: $nav_d_dwn;
				height: 40px;
				width: 40px;
				text-align: center;
				@include transition-property(transform);
				@include transition-duration(0.4s);
				@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
			}
		}
		.admin-menu-dashboard > a:before {
			content: '\f0e4';
		}
		.admin-menu-content > a:before {
			content: '\f15b';
		}
		.admin-menu-structure > a:before {
			content: '\f0f7';
		}
		.admin-menu-appearance > a:before {
			content: '\f1fc';
		}
		.admin-menu-people > a:before {
			content: '\f007';
		}
		.admin-menu-modules > a:before {
			content: '\f1e6';
		}
		.admin-menu-configuration > a:before {
			content: '\f013';
		}
		.admin-menu-reports > a:before {
			content: '\f200';
		}
		.admin-menu-clear > a:before {
			content: '\f12d';
		}
		.admin-menu-list > a:before {
			content: '\f022';
		}
		.admin-menu-add > a:before {
			content: '\f0c5';
		}
		.admin-menu-desk > a:before {
			content: '\f08d';
		}
		.admin-menu-upload > a:before {
			content: '\f03e';
		}
		.expandable {
			.dropdown a, .dropdown span {
				padding-left: 40px;
				padding-right: 55px;
			}
			.expandable .dropdown {
				a, span {
					padding-left: 50px;
				}
			}
			& > a, & > span {
				&:after {
					content: "\f104";
					display: block;
					font: normal normal normal 16px/22px FontAwesome;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					right: 30px;
					top: 0;
					height: 22px;
					width: 22px;
					text-align: center;
					-moz-transform: rotate(0);
					-ms-transform: rotate(0);
					-webkit-transform: rotate(0);
					transform: rotate(0);
					@include rotate(0deg);
					@include transition-property(transform);
					@include transition-duration(.2s);
					@include transition-timing-function(ease);
				}
			}
			&.admin-menu-ico > a:after {
				right: 70px;
				top: 8px;
			}
			&.open {
				& > a:after, & > span:after {
					@include rotate(-90deg);
				}
			}
				
		}
	}
	.shortcut-toggle, .shortcut-toolbar {
		display: none;
	}
	.mCSB_container > .dropdown:last-of-type, & > .dropdown:last-of-type {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $nav_bg;
		padding: 8px 40px 8px 30px;
	}
	li.admin-menu-action:first-child {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
		a {
			padding: 0;
			margin: 0;
			font-size: 0;
			line-height: 0;
			color: transparent;
			height: 100%;
			width: 40px;
			position: relative;
			background: $nav_ftr;
			&:after {
				content: "\f011";
				display: block;
				width: 100%;
				text-align: center;
				font: normal normal normal 16px/22px FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: $nav_h_clr;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -10px;
			}
		}
	}
	li.admin-menu-account, li.admin-menu-users {
		display: inline;
		margin: 0 15px 0 0;
		a {
			display: inline;
			margin: 0;
			padding: 0;
		}
	}
	.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical {
		margin: 0 0 40px;
	}
	.mCSB_scrollTools {
		width: 4px;
	}
}

@media only screen and (max-width: 1023px) {
	.menu-open.admin-menu {
		height: 100%;
		overflow: hidden;
		#admin-menu {
			left: 0;
		}
		.page-wrap {
			@include translate3d (250px, 0px, 0px);
			position: fixed;
			overflow: hidden;
		}
	}
	.admin-menu .menu-ico {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	#admin-menu {
		left: -210px;
		width: 280px;
		&:hover {
			left: 0;
			#admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
				@include translate3d (0px, 0px, 0px);
			}
		}
	}
	#admin-menu-wrapper {
		width: 280px;
	}
	#admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
		@include translate3d (5px, 0px, 0px);
	}
	.admin-menu {	
		.page-wrap, .logo-wrp {
			padding-left: 70px;
		}
	}
}

