@import "compass/css3";

#admin-menu {
	right: -250px;
	left: auto;
	@include transition-property(right);
	background-position: 48px 10px;
	li.admin-menu-action {
		float: right;
	}
}
#admin-menu-wrapper {
	.dropdown {
		.admin-menu-ico > a {
			padding-left: 90px;
			padding-right: 30px;
			&:before {
				right: auto;
				left: 20px;
			}
		}
		.expandable {
			& > a:after {
				right: auto;
				left: 30px;
				content: '\f105';
			}
			.dropdown a {
				padding-left: 55px;
				padding-right: 40px;
			}
			&.admin-menu-ico > a:after {
				content: '\f105';
				right: auto;
				left: 70px;
			}
			.expandable .dropdown a {
				padding-left: 55px;
				padding-right: 50px;
			}
		}
	}
	.mCSB_container > .dropdown:last-of-type, & > .dropdown:last-of-type {
		padding-left: 40px;
		padding-right: 30px;
	}
	li.admin-menu-action:first-child {
		right: auto;
		left: 0;
	}
	li.admin-menu-account, li.admin-menu-users {
		margin: 0 0 0 15px;
	}
}

@media only screen and (max-width:1023px) {
	.menu-open.admin-menu {
		.page-wrap {
			@include translate3d (-250px, 0px, 0px);
		}
		#admin-menu {
			right: 0;
		}
	}
}

@media only screen and (min-width: 1024px) {
  #admin-menu {
    right: -210px;
		background-position: 70px 10px;
    &:hover {
		  right: 0;
		}
  }
  .admin-menu {
  	.page-wrap, .logo-wrp {
  		padding-left: 0;
  		padding-right: 70px;
  	}
  }
	#admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
		@include translate3d (-5px, 0px, 0px);
	}
}

