@import "compass/css3";

@import "init";

/**
 * General
*/
.ctools-dropdown-container {
	line-height: 1.5;
}

/**
 * Modal Popups
*/
div div.ctools-modal-content {
	@include border-radius(0);
	@include box-shadow(none);
	.modal-header {
		background: none;
		padding-right: 30px;
	}
	.modal-content {
		@include box-sizing(content-box);
	}
	a.close {
		padding: 0;
		position: absolute;
		font-size: 0;
		color: transparent;
		right: 10px;
		top: 5px;
		width: 20px;
		height: 20px;
		text-align: center;
		background: none;
		filter: alpha(opacity=20);
		opacity: .2;
		img {
			display: none;
		}
		&:before {
			font: normal normal normal 14px/20px FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			content: '\f00d';
			color: $cls_clr;
		}
	}
	.form-actions {
		margin: 0 0 1em;
	}
}
