
@import "init";

.views-ui-display-tab-actions .ctools-button-processed li a, .views-ui-display-tab-actions .ctools-button-processed input, .views-displays .secondary .action-list input.form-submit {
	height: auto;
	color: $link_color;
	outline: none;
	min-width: auto;
}
.views-displays .secondary .open > a:hover {
	color: $link_h_color;
}