.page-wrap {
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}

#admin-menu {
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
  overflow: hidden;
  z-index: 4;
  background: #272b35 url(../../logo-invert.png) no-repeat 25px 10px;
  padding: 64px 0 0;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}

#admin-menu-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 20px 0 40px;
  border-top: 1px solid #232730;
  background: #2b303b;
  width: 250px;
}
#admin-menu-wrapper .dropdown {
  margin: 0;
  padding: 0;
}
#admin-menu-wrapper .dropdown li {
  padding: 0;
  list-style: none outside none;
}
#admin-menu-wrapper .dropdown li a, #admin-menu-wrapper .dropdown li span {
  padding: 2px 20px 2px 30px;
  margin: 0 0 6px;
  display: block;
  line-height: 18px;
  color: #788195;
  position: relative;
  cursor: pointer;
}
#admin-menu-wrapper .dropdown li a:hover, #admin-menu-wrapper .dropdown li a:hover:before, #admin-menu-wrapper .dropdown li span:hover, #admin-menu-wrapper .dropdown li span:hover:before {
  color: #fff;
}
#admin-menu-wrapper .dropdown .dropdown {
  background: #21252d;
  padding: 12px 0;
  margin: 0 0 6px;
  display: none;
}
#admin-menu-wrapper .dropdown .admin-menu-ico > a {
  font-size: 14px;
  padding: 11px 90px 11px 30px;
}
#admin-menu-wrapper .dropdown .admin-menu-ico > a:before {
  content: "\f015";
  display: block;
  font: normal normal normal 14px/40px FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 20px;
  top: 0;
  color: #788195;
  background: #21252d;
  height: 40px;
  width: 40px;
  text-align: center;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
#admin-menu-wrapper .dropdown .admin-menu-dashboard > a:before {
  content: '\f0e4';
}
#admin-menu-wrapper .dropdown .admin-menu-content > a:before {
  content: '\f15b';
}
#admin-menu-wrapper .dropdown .admin-menu-structure > a:before {
  content: '\f0f7';
}
#admin-menu-wrapper .dropdown .admin-menu-appearance > a:before {
  content: '\f1fc';
}
#admin-menu-wrapper .dropdown .admin-menu-people > a:before {
  content: '\f007';
}
#admin-menu-wrapper .dropdown .admin-menu-modules > a:before {
  content: '\f1e6';
}
#admin-menu-wrapper .dropdown .admin-menu-configuration > a:before {
  content: '\f013';
}
#admin-menu-wrapper .dropdown .admin-menu-reports > a:before {
  content: '\f200';
}
#admin-menu-wrapper .dropdown .admin-menu-clear > a:before {
  content: '\f12d';
}
#admin-menu-wrapper .dropdown .admin-menu-list > a:before {
  content: '\f022';
}
#admin-menu-wrapper .dropdown .admin-menu-add > a:before {
  content: '\f0c5';
}
#admin-menu-wrapper .dropdown .admin-menu-desk > a:before {
  content: '\f08d';
}
#admin-menu-wrapper .dropdown .admin-menu-upload > a:before {
  content: '\f03e';
}
#admin-menu-wrapper .dropdown .expandable .dropdown a, #admin-menu-wrapper .dropdown .expandable .dropdown span {
  padding-left: 40px;
  padding-right: 55px;
}
#admin-menu-wrapper .dropdown .expandable .expandable .dropdown a, #admin-menu-wrapper .dropdown .expandable .expandable .dropdown span {
  padding-left: 50px;
}
#admin-menu-wrapper .dropdown .expandable > a:after, #admin-menu-wrapper .dropdown .expandable > span:after {
  content: "\f104";
  display: block;
  font: normal normal normal 16px/22px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 30px;
  top: 0;
  height: 22px;
  width: 22px;
  text-align: center;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#admin-menu-wrapper .dropdown .expandable.admin-menu-ico > a:after {
  right: 70px;
  top: 8px;
}
#admin-menu-wrapper .dropdown .expandable.open > a:after, #admin-menu-wrapper .dropdown .expandable.open > span:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#admin-menu-wrapper .shortcut-toggle, #admin-menu-wrapper .shortcut-toolbar {
  display: none;
}
#admin-menu-wrapper .mCSB_container > .dropdown:last-of-type, #admin-menu-wrapper > .dropdown:last-of-type {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #272b35;
  padding: 8px 40px 8px 30px;
}
#admin-menu-wrapper li.admin-menu-action:first-child {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
#admin-menu-wrapper li.admin-menu-action:first-child a {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  height: 100%;
  width: 40px;
  position: relative;
  background: #21252d;
}
#admin-menu-wrapper li.admin-menu-action:first-child a:after {
  content: "\f011";
  display: block;
  width: 100%;
  text-align: center;
  font: normal normal normal 16px/22px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
#admin-menu-wrapper li.admin-menu-account, #admin-menu-wrapper li.admin-menu-users {
  display: inline;
  margin: 0 15px 0 0;
}
#admin-menu-wrapper li.admin-menu-account a, #admin-menu-wrapper li.admin-menu-users a {
  display: inline;
  margin: 0;
  padding: 0;
}
#admin-menu-wrapper .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, #admin-menu-wrapper .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  margin: 0 0 40px;
}
#admin-menu-wrapper .mCSB_scrollTools {
  width: 4px;
}

@media only screen and (max-width: 1023px) {
  .menu-open.admin-menu {
    height: 100%;
    overflow: hidden;
  }
  .menu-open.admin-menu #admin-menu {
    left: 0;
  }
  .menu-open.admin-menu .page-wrap {
    -moz-transform: translate3d(250px, 0px, 0px);
    -webkit-transform: translate3d(250px, 0px, 0px);
    transform: translate3d(250px, 0px, 0px);
    position: fixed;
    overflow: hidden;
  }

  .admin-menu .menu-ico {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  #admin-menu {
    left: -210px;
    width: 280px;
  }
  #admin-menu:hover {
    left: 0;
  }
  #admin-menu:hover #admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  #admin-menu-wrapper {
    width: 280px;
  }

  #admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
    -moz-transform: translate3d(5px, 0px, 0px);
    -webkit-transform: translate3d(5px, 0px, 0px);
    transform: translate3d(5px, 0px, 0px);
  }

  .admin-menu .page-wrap, .admin-menu .logo-wrp {
    padding-left: 70px;
  }
}
