#admin-menu {
  right: -250px;
  left: auto;
  -moz-transition-property: right;
  -o-transition-property: right;
  -webkit-transition-property: right;
  transition-property: right;
  background-position: 48px 10px;
}
#admin-menu li.admin-menu-action {
  float: right;
}

#admin-menu-wrapper .dropdown .admin-menu-ico > a {
  padding-left: 90px;
  padding-right: 30px;
}
#admin-menu-wrapper .dropdown .admin-menu-ico > a:before {
  right: auto;
  left: 20px;
}
#admin-menu-wrapper .dropdown .expandable > a:after {
  right: auto;
  left: 30px;
  content: '\f105';
}
#admin-menu-wrapper .dropdown .expandable .dropdown a {
  padding-left: 55px;
  padding-right: 40px;
}
#admin-menu-wrapper .dropdown .expandable.admin-menu-ico > a:after {
  content: '\f105';
  right: auto;
  left: 70px;
}
#admin-menu-wrapper .dropdown .expandable .expandable .dropdown a {
  padding-left: 55px;
  padding-right: 50px;
}
#admin-menu-wrapper .mCSB_container > .dropdown:last-of-type, #admin-menu-wrapper > .dropdown:last-of-type {
  padding-left: 40px;
  padding-right: 30px;
}
#admin-menu-wrapper li.admin-menu-action:first-child {
  right: auto;
  left: 0;
}
#admin-menu-wrapper li.admin-menu-account, #admin-menu-wrapper li.admin-menu-users {
  margin: 0 0 0 15px;
}

@media only screen and (max-width: 1023px) {
  .menu-open.admin-menu .page-wrap {
    -moz-transform: translate3d(-250px, 0px, 0px);
    -webkit-transform: translate3d(-250px, 0px, 0px);
    transform: translate3d(-250px, 0px, 0px);
  }
  .menu-open.admin-menu #admin-menu {
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  #admin-menu {
    right: -210px;
    background-position: 70px 10px;
  }
  #admin-menu:hover {
    right: 0;
  }

  .admin-menu .page-wrap, .admin-menu .logo-wrp {
    padding-left: 0;
    padding-right: 70px;
  }

  #admin-menu-wrapper .dropdown .admin-menu-ico > a::before {
    -moz-transform: translate3d(-5px, 0px, 0px);
    -webkit-transform: translate3d(-5px, 0px, 0px);
    transform: translate3d(-5px, 0px, 0px);
  }
}
