/**
 * General
*/
.ctools-dropdown-container {
  line-height: 1.5;
}

/**
 * Modal Popups
*/
div div.ctools-modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div div.ctools-modal-content .modal-header {
  background: none;
  padding-right: 30px;
}
div div.ctools-modal-content .modal-content {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
div div.ctools-modal-content a.close {
  padding: 0;
  position: absolute;
  font-size: 0;
  color: transparent;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: none;
  filter: alpha(opacity=20);
  opacity: .2;
}
div div.ctools-modal-content a.close img {
  display: none;
}
div div.ctools-modal-content a.close:before {
  font: normal normal normal 14px/20px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: '\f00d';
  color: #000;
}
div div.ctools-modal-content .form-actions {
  margin: 0 0 1em;
}
