.views-ui-display-tab-actions .ctools-button-processed li a, .views-ui-display-tab-actions .ctools-button-processed input, .views-displays .secondary .action-list input.form-submit {
  height: auto;
  color: #337ab7;
  outline: none;
  min-width: auto;
}

.views-displays .secondary .open > a:hover {
  color: #48b0f7;
}
